# Project Introduction
#1 Our goal is to explore the trend variation on the bitcoin market price based on the market news and social news.
#2 The first raw data we crawled from website is mainly from cryptocurrencynews.com. It has already done in the data_collect.ipynb progress in the same directory in the github. Now we would directly use the stored data in <b>cryptocurrencynews_com_bitcoin_news.csv</b> file

#### Changes to the project
1> Our goal remains, but the source of the data changed.

Previously we would want to get data from mediacloud.com website. Later on we found that such data is not in accordance with our goal to use the contents to judge the market price variation. So we changed our way to re-crawled the data from the main cryptocurrency market news websites and social medias, like tweets. It tempted to be slow.

2> to be continued.

In [68]:
# Pre import
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt
import datetime

# Data Cleaning= Preprocessing the Raw data
2.1 format transformation

2.2 create labels

2.3 merge news data with price data

In [95]:
# Read 'Bitcoin' and the pricing of 'Bitcoin' market
priceOfBitcoin = pd.read_csv('bitcoin-24hv0.csv')
newsOfBitcoin = pd.read_csv('cryptocurrencynews_with_years.csv')

### 2.1 Date tranformation

In [96]:
priceOfBitcoin.rename(columns={'Series 1':'price', 'DateTime':'date'}, inplace=True)
priceOfBitcoin['date'] = [x[:10] for x in priceOfBitcoin['date']]
priceOfBitcoin['date'] = priceOfBitcoin['date'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d'))
priceOfBitcoin.head()

        date   price
0 2013-04-28  135.30
1 2013-04-29  134.44
2 2013-04-30  144.00
3 2013-05-01  139.00
4 2013-05-02  116.38

In [97]:
# Read from cryptocurrencynews_com_bitcoin_news.csv
newsOfBitcoin['date'] = [x+'-'+y for x,y in zip(newsOfBitcoin['date'],newsOfBitcoin['year'].apply(str))]
newsOfBitcoin['date'] = newsOfBitcoin['date'].apply(lambda x: datetime.datetime.strptime(x, '%d-%b-%Y'))
newsOfBitcoin.rename(columns={'title':'text'}, inplace=True)
newsOfBitcoin.head()

                                                text       date  year
0  Bitcoin Price is in the Green but EOS is Today... 2019-04-10  2019
1  Chinese Investors Jump on Bitcoin’s Bull Trend... 2019-04-09  2019
2  PayPal Makes Blockchain Investment in Cambridg... 2019-04-02  2019
3  Square is Hiring: You Can Be Paid in Bitcoin i... 2019-03-21  2019
4  Apple’s Steve Wozniak Says Bitcoin has “Massiv... 2019-02-27  2019

### 2.2 Label the data

In [98]:
priceOfBitcoin['price2'] = [x for x in priceOfBitcoin['price'][1:]] + [0.0]
# we add a new column 'Rising' to determine if the price is rising than previous day's price
# 1: means rising, 0: means non rising
# priceOfBitcoin['Rising']
priceOfBitcoin['trend'] = priceOfBitcoin['price'] < priceOfBitcoin['price2']
priceOfBitcoin['label'] = [int(x) for x in priceOfBitcoin['trend']]
priceOfBitcoin.drop(columns=['trend'],inplace=True)
priceOfBitcoin.head()

        date   price  price2  label
0 2013-04-28  135.30  134.44      0
1 2013-04-29  134.44  144.00      1
2 2013-04-30  144.00  139.00      0
3 2013-05-01  139.00  116.38      0
4 2013-05-02  116.38  106.25      0

### 2.3 Merge the dataset with price and news

In [103]:
df = priceOfBitcoin.merge(newsOfBitcoin, how = 'inner', left_on='date', right_on='date')
df = df[['text','label']]
df.head()

                                                text  label
0         A Potential Reason Behind Bitcoin’s Surge       1
1  Bitcoin Just A Bubble? Credit Suisse CEO’s Pre...      1
2  BREAKING: Bitcoin Soars 6% to $7,400 in just 2...      1
3  Can You Make a Fortune out of Bitcoin? Richard...      1
4  Hard Fork News: Bitcoin SegWit2x Suspended, Pr...      0

#### EDA visulization
1,explain what your data looks like (words are fine, but
visualizations are often better). Include any interesting issues or preliminary
conclusions you have about your data.

2,that tests an interesting hypothesis, along with an
explanation about why you thought this was an interesting hypothesis to
investigate.

In [ ]:
###

#### Classifier Training

In [ ]:
###

#### Classifier Evaluation

#### Reflection: a discussion of the following:
o What is hardest part of the project that you’ve encountered so far?

o What are your initial insights?

o Are there any concrete results you can show at this point? If not, why not? o Going forward, what are the current biggest problems you’re facing?

o Do you think you are on track with your project? If not, what parts do you need to dedicate more time to?

o Given your initial exploration of the data, is it worth proceeding with your project, why? If not, how are you going to change your project and why do you think it’s better than your current results?

#### Next steps: 
What you plan to accomplish in the next month and how you plan to evaluate whether your project achieved the goals you set for it.